<div class="jumbotron">
  <h1>Fight!</h1>
  <!--<p class="lead">-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div class="row marketing">
  <div class="col-sm-6">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <h4>Player 1</h4>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-warning btn-default btn-xs" ng-show="positionAdvantage === 'player1'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Position Advantage
          </button>
        </div>
      </div>
      <h5>Range: {{player1.range}}</h5>
      <div class="btn-group btn-group-xs float-none" data-toggle="buttons">
        <button class="btn btn-primary" id="p1shortest" ng-click="p1range('shortest')" style="font-size: 11px">Shortest</button>
        <button class="btn btn-primary" id="p1short" ng-click="p1range('short')" style="font-size: 11px">Short</button>
        <button class="btn btn-primary" id="p1long" ng-click="p1range('long')" style="font-size: 11px">Long</button>
        <button class="btn btn-primary" id="p1longer" ng-click="p1range('longer')" style="font-size: 11px">Longer</button>
        <button class="btn btn-primary" id="p1longest" ng-click="p1range('longest')" style="font-size: 11px">Longest</button>
        <button class="btn btn-primary" id="p1missle" ng-click="p1range('missle')" style="font-size: 11px">Missle</button>
      </div>
      <div ng-repeat="mod in player1.modifications">
        <hr />
        <h6>- {{mod.key}}:{{mod.value}}</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <h4>Player 2</h4>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-warning btn-default btn-xs" ng-show="positionAdvantage === 'player2'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Position Advantage
          </button>
        </div>
      </div>
      <h5>Range: {{player2.range}}</h5>
      <div class="btn-group btn-group-xs" data-toggle="buttons" style="font-size: 11px">
        <button class="btn btn-primary" id="p2shortest" ng-click="p2range('shortest')" style="font-size: 11px">Shortest</button>
        <button class="btn btn-primary" id="p2short" ng-click="p2range('short')" style="font-size: 11px">Short</button>
        <button class="btn btn-primary" id="p2long" ng-click="p2range('long')" style="font-size: 11px">Long</button>
        <button class="btn btn-primary" id="p2longer" ng-click="p2range('longer')" style="font-size: 11px">Longer</button>
        <button class="btn btn-primary" id="p2longest" ng-click="p2range('longest')" style="font-size: 11px">Longest</button>
        <button class="btn btn-primary" id="p2missle" ng-click="p2range('missle')" style="font-size: 11px">Missle</button>
      </div>
      <div ng-repeat="mod in player2.modifications">
        <hr />
        <h6>- {{mod.key}}:{{mod.value}}</h6>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" type="button" data-toggle="collapse" data-target="#engagement" aria-expanded="false" aria-controls="engagement">
    <h3 class="panel-title">Engagement</h3>
  </div>
  <div class="panel-body collapse" id="engagement">
    <div class="panel-body text-center">

      <h4>Test for Engage</h4>
      <p>Speed plus advantages for longer stride and longer weapon.</p>
      <h4>Bonus Dice to Engage Tests</h4>
      <p>- Longer stride +1D</p>
      <p>- Stride longer by 4 or more +2D</p>
      <p>- Longer Weapon +1D or +2D</p>

      <div class="well">
        <h4>Position Advantage</h4>
        <div class="btn-group" data-toggle="buttons">
          <button class="btn btn-danger" id="p1positionAdv" ng-click="calculatePositionAdvantage('player1')">Player 1</button>
          <button class="btn btn-info" id="p2positionAdv" ng-click="calculatePositionAdvantage('player2')">Player 2</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row marketing">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" type="button" data-toggle="collapse" data-target="#p1Stance" aria-expanded="false" aria-controls="p1Stance">
        <h3 class="panel-title">Stance</h3>
      </div>
      <div class="panel-body collapse" id="p1Stance">
        <div class="panel-body">
          <div class="btn-group" data-toggle="buttons">
            <button class="btn btn-danger" id="p1stanceAggressive" ng-value="aggressiveStance" ng-click="changeStance(player1, aggressiveStance)">Aggressive</button>
            <button class="btn btn-info" id="p1stanceNeutral" ng-value="aggressiveStance" ng-click="changeStance(player1, neutralStance)">Neutral</button>
            <button class="btn btn-success" id="p1stanceDefensive" ng-value="aggressiveStance" ng-click="changeStance(player1, defensiveStance)">Defensive</button>
          </div>
        </div>
        <div ng-bind-html="player1.stance.text" class="panel-body">
          {{ player1.stance.text }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" type="button" data-toggle="collapse" data-target="#p2Stance" aria-expanded="false" aria-controls="p2Stance">
        <h3 class="panel-title">Stance</h3>
      </div>
      <div class="panel-body collapse" id="p2Stance">
        <div class="panel-body">
          <div class="btn-group" data-toggle="buttons">
            <button class="btn btn-danger" id="p2stanceAggressive" ng-value="aggressiveStance" ng-click="changeStance(player2, aggressiveStance)">Aggressive</button>
            <button class="btn btn-info" id="p2stanceNeutral" ng-value="aggressiveStance" ng-click="changeStance(player2, neutralStance)">Neutral</button>
            <button class="btn btn-success" id="p2stanceDefensive" ng-value="aggressiveStance" ng-click="changeStance(player2, defensiveStance)">Defensive</button>
          </div>
        </div>
        <div ng-bind-html="player2.stance.text" class="panel-body">
          {{ player2.stance.text }}
        </div>
      </div>
    </div>
  </div>


</div>


<div class="row marketing">
  <div class="col-sm-6">
    <ui-select ng-model="fight.p1Action.selected" ng-disabled="fight.disabled" ng-change="update(fight.p1Action.selected, fight.p2Action.selected)"
      style="min-width: 300px;" title="Choose an Action">
      <ui-select-match placeholder="Select an Action...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices group-by="'category'" repeat="action in fight.actions | filter: $select.search">
        <div ng-bind-html="action.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="col-sm-6">
    <ui-select ng-model="fight.p2Action.selected" ng-disabled="fight.disabled" ng-change="update(fight.p2Action.selected, fight.p1Action.selected)"
      style="min-width: 300px;" title="Choose an Action">
      <ui-select-match placeholder="Select an Action...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices group-by="'category'" repeat="action in fight.actions | filter: $select.search">
        <div ng-bind-html="action.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="row marketing">
  <div class="col-sm-6">
    <h5>Resulting Player 1 Interaction</h5>
    <div class="">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Type of Test</th>
            <td>{{player1int}}</td>
          </tr>
        </tbody>
      </table>

      <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

        <div ng-repeat="(key, value) in player1act">
          <div ng-show="isShowableInfo(key)" class="panel panel-default">
            <div class="panel-heading" role="tab" id="p1{{ key.split(' ').join('_') }}">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="javascript:;" aria-expanded="false"
                  aria-controls="collapseOne" data-target="#p1{{key.split(' ').join('_')}}info">
                  {{ key }}
                </a>
              </h4>
            </div>
            <div id="p1{{key.split(' ').join('_')}}info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ key.replace(' ', '_') }}">
              <div class="panel-body">
                {{ value }}
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <h5>Resulting Player 2 Interaction</h5>
    <div class="">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Type of Test</th>
            <td>{{player2int}}</td>
          </tr>
        </tbody>
      </table>

      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

        <div ng-repeat="(key, value) in player2act">
          <div ng-show="isShowableInfo(key)" class="panel panel-default">
            <div class="panel-heading" role="tab" id="p2{{ key.split(' ').join('_') }}">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="javascript:;" aria-expanded="false"
                  aria-controls="collapseOne" data-target="#p2{{key.replace(' ', '_')}}info">
                  {{ key }}
                </a>
              </h4>
            </div>
            <div id="p2{{ key.split(' ').join('_') }}info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ key.split(' ').join('_') }}">
              <div class="panel-body">
                {{ value }}
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>