<div class="col-lg-6 col-lg-offset-3">
<div class="jumbotron">
  <h1>Fire Starter</h1>
  <p class="lead">
    An unofficial <a href="https://www.burningwheel.com/store/index.php/core-books.html">Burning Wheel</a> Toolkit.
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div class="btn-group btn-group-justified" role=group aria-label="Justified button group">
  <a href="#/dow" class="btn btn-default" role=button>Duel of Wits</a>
  <a href="#/fight" class="btn btn-default" role=button>Fight!</a>
  <a  class="btn btn-default" disabled="disabled" role=button>Range And Cover</a>
  <a  class="btn btn-default" disabled="disabled" role=button>Garbled Transmission</a>
</div>

<div class="jumbotron" style="background-color: transparent">
  <h3>A web app for new (or impatient) GMs</h3>
</div>
</div>
