<div class="col-lg-offset-2 col-lg-8">
  <div class="jumbotron">
    <h1>Magic</h1>
    <!--<p class="lead">-->
    <!--</p>-->
    <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
  </div>

  <div class="row center-block">
    <div class="col-md-6">
      <div class="form-group">
        <label>Element</label>
        <ui-select ng-model="magic.spellElement.selected" ng-change="update(magic.spellElement.selected)" style="min-width: 300px;"
          title="Choose an Element">
          <ui-select-match placeholder="Element...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="spellElement in magic.elementList | filter: $select.search">
            <div ng-bind-html="spellElement.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
          <label>Impetus</label>
        <ui-select ng-model="magic.spellImpetus.selected" ng-change="update(magic.spellImpetus.selected)" style="min-width: 300px;"
          title="Choose an Impetus">
          <ui-select-match placeholder="Impetus...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="spellImpetus in magic.impetusList | filter: $select.search">
            <div ng-bind-html="spellImpetus.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
          <label>Origin</label>
        <ui-select ng-model="magic.spellOrigin.selected" ng-change="update(magic.spellOrigin.selected)" style="min-width: 300px;"
          title="Choose an Origin">
          <ui-select-match placeholder="Origin...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="spellOrigin in magic.originList | filter: $select.search">
            <div ng-bind-html="spellOrigin.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
          <label>Duration</label>
        <ui-select ng-model="magic.spellDuration.selected" ng-change="update(magic.spellDuration.selected)" style="min-width: 300px;"
          title="Choose a Duration">
          <ui-select-match placeholder="Duration...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="spellDuration in magic.durationList | filter: $select.search">
            <div ng-bind-html="spellDuration.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group">
          <label>Area</label>
        <ui-select ng-model="magic.spellArea.selected" ng-change="update(magic.spellArea.selected)" style="min-width: 300px;" title="Choose an Area">
          <ui-select-match placeholder="Area...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="spellArea in magic.areaList | filter: $select.search">
            <div ng-bind-html="spellArea.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="well">
          <h3>Garbled Transmission</h3>
          <div class="btn-group" data-toggle="buttons">
            <button class="btn btn-danger" ng-class="counterClockClass" id="counterClockbtn" ng-click="setDirection(0)">Counter-Clockwise</button>
            <button class="btn btn-success" ng-class="clockClass" id="clockbtn" ng-click="setDirection(1)">Clockwise</button>
          </div>
        </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Element - {{spellelement.name}}</h3>
        </div>
        <div class="panel-body">
          <p>{{spellelement.description}}</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Impetus - {{spellimpetus.name}}</h3>
        </div>
        <div class="panel-body">
          <p>{{spellimpetus.description}}</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Origin - {{spellorigin.name}}</h3>
        </div>
        <div class="panel-body">
          <p>{{spellorigin.description}}</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Duration - {{spellduration.name}}</h3>
        </div>
        <div class="panel-body">
          <p>{{spellduration.description}}</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Area - {{spellarea.name}}</h3>
        </div>
        <div class="panel-body">
          <p>{{spellarea.description}}</p>
        </div>
      </div>
    </div>

  </div>
  </div>
